<section class="md:container md:mx-auto py-12">
    <nav class="flex items-center justify-between">
      <header class="logo">
        <a href="/">Reecenward</a>
      </header>
    <ul class="flex">
        <li class="pr-6"><a href="https://www.linkedin.com/in/reecenward/"><img src="/linkedin.svg" alt="LinkedIn Logo"></a></li>
        <li><a href="mailto:reecenward@gmail.com"><img src="/mail.svg" alt="Email Icon"></a></li>
    </ul>
   
    </nav>
  </section>

  <style>
        .logo a {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 1rem;
    }

  
  </style>



